@import "../../main.global";

.press{
  padding: 87px 0;
  @media (max-width:(320px)) {
    padding: 40px 0;
  }
  &__top{
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;

    @media (max-width:(320px)) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__title{
    font-family: $second-family;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1.2px;
    color: $black;
  }

  &__link{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02px;
    color: rgb(0, 65, 62);
    border: 1px solid rgba(53, 83, 98, 0.2);
    transition: color 0.3s ease-in-out;

    &:focus{
      outline: none;
    }

    &:hover:not(:focus-visible){

      color: $white;
    }
    &:focus-visible{
      &:after{
        outline: solid 1px $orange;
        outline-offset: 3px;
      }
    }
    &:active:not(:focus-visible){
      color: $white;
    }

  }


  &__list{
    row-gap: 32px;
  }

  &__item{
    grid-column: 4 span;
  }

}

.card{
    position: relative;
    border-top: 1px solid rgba(53, 83, 98, 0.3);

    &__top{
      margin-bottom: 10px;
      padding-top: 16px;
      display: flex;
      align-items: center;
      gap: 16px;
    }

  &__author{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: rgba(53, 83, 98, 0.6);
  }
  &__date{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: rgba(53, 83, 98, 0.6);
  }

  &__link{
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #00413E;
    transition: color 0.3s ease-in-out;

    &:focus{
      outline: none;
    }

    &:hover:not(:focus-visible){

      color: $blue;
    }
    &:focus-visible{
      &:after{
        outline: solid 1px $orange;
        outline-offset: 3px;
      }
    }
    &:active:not(:focus-visible){
      color: $orange;
    }

    &:after{
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}