
$font-family: "Public Sans", san-serif;
$second-family: "Libre Baskerville", san-serif;
$content-width: 1152px;
$container-offset: 15px;
$container-width: calc($content-width + $container-offset * 2);

$offset: 32px;

$main-size: 13px;
$second-size: 15px;

$white: #FFF;
$blue: #00A1FF;
$orange: #E00E00;
$black: #003331;
$text-color: rgba(53, 83, 98, 0.6);
